<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <body>
    <header>
      <img style='width: 15%;' src='cid:logo' />
    </header>
    <main>
      <div>
        <h1>Account Created</h1>
      </div>
      <div>
        <p>Dear {{firstname}} {{lastname}},</p>
      </div>
      <div>
        <p>You Account has been successfully created. You can now signin.</p>
      </div>
    </main>
    <footer>
      <p style='font-weight: 500;'>Sincerely, <br>Akagera team</p>
    </footer>
  </body>
</html>