<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <header>
      <img style='width: 25%;' src='cid:logo' />
    </header>
    <main>
      <div>
        <h1>Password Reset Successfully</h1>
      </div>
      <div>
        <p style='font-weight: 500;'>Dear {{firstname}} {{lastname}},</p>
      </div>
      <div>
        <p style='font-weight: 500;'>You requested a password reset to your
          account with email
          {{email}}
          was successfully changed</p>
      </div>
      <div>
        <br />
        <p style='font-weight: 500;'>If you did not reset password for your
          account, someone else might have entered your email address by
          mistake. If so, simply ignore this message.
        </p>
      </div>
    </main>
    <footer>
      <p style='font-weight: 500;'>Sincerely, <br />Akagera team</p>
    </footer>
  </body>
</html>